<div class="container mx-5 my-5">
    <a class="btn btn-outline-info"  onclick="sendMails('<%= email  %>')" href="/">Get Verification Email</a>
    <a href="/jobs" class="btn btn-info">Go back to Job lists</a>
</div>